<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Flight</title>

    <link rel="stylesheet" type="text/css" href="~/lib/jquery-easyui-1.10.19/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="~/lib/jquery-easyui-1.10.19/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="~/lib/jquery-easyui-1.10.19/themes/color.css">
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<header>
    <div class="easyui-panel" style="padding:5px;">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="easyui-linkbutton" data-options="plain:true">Home</a>
        <a asp-area="" asp-controller="Home" asp-action="Privacy" class="easyui-linkbutton" data-options="plain:true">Privacy</a>
        <a asp-area="" asp-controller="Airport" asp-action="Index" class="easyui-linkbutton" data-options="plain:true">Airport</a>
    </div>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Flight - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<script type="text/javascript" src="~/lib/jquery-easyui-1.10.19/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/jquery-easyui-1.10.19/jquery.easyui.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>